#titulo {
    background-image: url('./../images/cards/card-titulo.png');
    background-size: 1273px 45px;
    background-repeat: no-repeat;
    height: 45px;
    margin-top: 3px
}

#pavimento {
    background-image: url('./../images/cards/card-pavimento.png');
    background-size: 1273px 75px;
    background-repeat: no-repeat;
    height: 76px;
    margin-top: 50px
}

.fundo {
    background-image: url('./../images/cards/card-fundo.png');
    background-size: 1273px 91px;
    background-repeat: no-repeat;
}

.cards {
    background-size: 1273px 91px;
    background-repeat: no-repeat;
    
    &:nth-child(1) { background-image: url('./../images/cards/card-1.png'); }
    &:nth-child(2) { background-image: url('./../images/cards/card-2.png'); }
    /* Adicione mais conforme necessário */
}
